

body {
   position:relative;

   margin:0 auto;

 }
 *{
   box-sizing: border-box;
 }
html{
  margin:0;
  background-blend-mode: darken;
  background-size: cover;
  background: url("http://images6.fanpop.com/image/photos/39500000/OTGW-over-the-garden-wall-39594421-1920-1080.jpg");

  transition: 3s;
}

div#texttop{
  width: 30%
}




/*
#cf4a img {
  position:absolute;
  left:0;
  transition: opacity 1s ease-in-out;
animation-name: cf4FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 12s;
animation-direction: alternate;
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}*/
